In [24]:
import pandas as pd 
import numpy as np

#데이터 불러오기, 확인
df = pd.read_excel('../data/partyroom_A_review.xlsx')
df.head()

,id,content,visit_dt,visit_tm,visit_cnt,keyword
0,임채채,가성비도 있고 분위기좋고 아늑함!연간 행사하기 좋은 성남 최고 파티룸,2025년 9월 26일 금요일,"(금,토)올나잇 타임 18~08",1번째 방문,"['가성비가 좋아', '인테리어가 멋져', '매장이 넓어', '아늑해', '방음이 ..."
1,kom****,공간이 너무 예쁘고 깔끔해요! 노래방 기계도 최신식이라 노래방이랑 거의 똑같았어요~...,2025년 9월 20일 토요일,"(금,토)올나잇 타임 18~08",1번째 방문,"['인테리어가 멋져', '시설이 깔끔해', '']"
2,dud****,일요일에 친구들이랑 아이콘 매치를 보려고모란에 파티룸을 찾았는데사장님이 친절하시고 ...,2025년 9월 14일 일요일,(일~목)올나잇 18~08,1번째 방문,"['가성비가 좋아', '인테리어가 멋져', '친절해', '컨셉이 독특해', '대화하..."
3,공백13,아버지 환갑행사로 가족들이 많았는데 저희끼리만 단독으로 있어 분위기도 좋고 행사하기...,2025년 9월 13일 토요일,"(금,토)올나잇 타임 18~08",1번째 방문,"['인테리어가 멋져', '대화하기 좋아', '단체모임 하기 좋아', '시설이 깔끔해..."
4,rha****,세번째 재방문입니당공간도 넓고 인원수 맞춰서 준비해주셔서 너무 좋아용다음에 또 올게...,2025년 9월 8일 월요일,(일~목)올나잇 18~08,1번째 방문,"['인테리어가 멋져', '단체모임 하기 좋아', '오래 머무르기 좋아', '시설이 ..."

In [25]:
#id 비식별화
import hashlib

def anonymize_id(x):
    return hashlib.sha256(x.encode()).hexdigest()[:8]  # 8자리만 남기기

df['id'] = df['id'].apply(anonymize_id)
df.head()

,id,content,visit_dt,visit_tm,visit_cnt,keyword
0,42fb897f,가성비도 있고 분위기좋고 아늑함!연간 행사하기 좋은 성남 최고 파티룸,2025년 9월 26일 금요일,"(금,토)올나잇 타임 18~08",1번째 방문,"['가성비가 좋아', '인테리어가 멋져', '매장이 넓어', '아늑해', '방음이 ..."
1,63462f03,공간이 너무 예쁘고 깔끔해요! 노래방 기계도 최신식이라 노래방이랑 거의 똑같았어요~...,2025년 9월 20일 토요일,"(금,토)올나잇 타임 18~08",1번째 방문,"['인테리어가 멋져', '시설이 깔끔해', '']"
2,0eefcb04,일요일에 친구들이랑 아이콘 매치를 보려고모란에 파티룸을 찾았는데사장님이 친절하시고 ...,2025년 9월 14일 일요일,(일~목)올나잇 18~08,1번째 방문,"['가성비가 좋아', '인테리어가 멋져', '친절해', '컨셉이 독특해', '대화하..."
3,5535e26c,아버지 환갑행사로 가족들이 많았는데 저희끼리만 단독으로 있어 분위기도 좋고 행사하기...,2025년 9월 13일 토요일,"(금,토)올나잇 타임 18~08",1번째 방문,"['인테리어가 멋져', '대화하기 좋아', '단체모임 하기 좋아', '시설이 깔끔해..."
4,6fbe2063,세번째 재방문입니당공간도 넓고 인원수 맞춰서 준비해주셔서 너무 좋아용다음에 또 올게...,2025년 9월 8일 월요일,(일~목)올나잇 18~08,1번째 방문,"['인테리어가 멋져', '단체모임 하기 좋아', '오래 머무르기 좋아', '시설이 ..."

In [26]:
#데이터 형태 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         230 non-null    object
 1   content    227 non-null    object
 2   visit_dt   230 non-null    object
 3   visit_tm   133 non-null    object
 4   visit_cnt  230 non-null    object
 5   keyword    230 non-null    object
dtypes: object(6)
memory usage: 10.9+ KB

In [27]:
#데이터 결측치 확인
df.isnull().sum()

id            0
content       3
visit_dt      0
visit_tm     97
visit_cnt     0
keyword       0
dtype: int64

In [28]:
#문자형 데이터 통계 확인
df.describe(include='O')

,id,content,visit_dt,visit_tm,visit_cnt,keyword
count,230,227,230,133,230,230
unique,221,227,203,3,4,151
top,f084ea86,가성비도 있고 분위기좋고 아늑함!연간 행사하기 좋은 성남 최고 파티룸,2025년 1월 4일 토요일,"(금,토)올나잇 타임 18~08",1번째 방문,['']
freq,3,1,2,48,206,61

In [29]:
#결측치 처리
#visit_tm -> 새로운 카테고리(unknown)로 채우기
#content -> 새로운 카테고리(내용없음)로 채우기
print(df.isnull().sum())
df['visit_tm'] = df['visit_tm'].fillna('unknown')
df['content'] = df['content'].fillna('내용없음')
print(df.isnull().sum())

id            0
content       3
visit_dt      0
visit_tm     97
visit_cnt     0
keyword       0
dtype: int64
id           0
content      0
visit_dt     0
visit_tm     0
visit_cnt    0
keyword      0
dtype: int64

In [30]:
#df['keyword'] 형태 확인
print(type(df['keyword'][0]))

<class 'str'>

In [31]:
#df['keyword'] 내 공란('') 제거

import ast

cleaned_keywords = [] #행별 결과들을 모을 리스트

for row in df['keyword']:
    try:
        #문자열을 리스트로 변환
        keywords = ast.literal_eval(row) if isinstance(row, str) else row
    except(ValueError, SyntaxError):
        keywords = []
    
    #공백 제거 후 빈 문자열은 제외
    cleaned_row = [k.strip() for k in keywords if k.strip() != '']

    #비어있으면 '키워드 없음' 대체
    if not cleaned_row:
        cleaned_row = ['키워드 없음']

    cleaned_keywords.append(cleaned_row) #리스트 안의 리스트 구조 유지
        
df['keyword'] = cleaned_keywords
df['keyword']

0               [가성비가 좋아, 인테리어가 멋져, 매장이 넓어, 아늑해, 방음이 잘돼]
1                                    [인테리어가 멋져, 시설이 깔끔해]
2             [가성비가 좋아, 인테리어가 멋져, 친절해, 컨셉이 독특해, 대화하기 좋아]
3       [인테리어가 멋져, 대화하기 좋아, 단체모임 하기 좋아, 시설이 깔끔해, 조명이 좋아]
4      [인테리어가 멋져, 단체모임 하기 좋아, 오래 머무르기 좋아, 시설이 깔끔해, 방음...
                             ...
225                                             [키워드 없음]
226                                             [키워드 없음]
227                                             [키워드 없음]
228                                             [키워드 없음]
229                                             [키워드 없음]
Name: keyword, Length: 230, dtype: object

In [32]:
#변경된 형태 확인
print(type(df['keyword'][0]))

<class 'list'>

In [33]:
# 전처리 완료 파일 저장
df2 = pd.DataFrame(df, columns=['id', 'content', 'visit_dt', 'visit_tm', 'visit_cnt', 'keyword'])
df2.to_excel('../data/A_preprocessing.xlsx', index=False)